﻿body {
    padding-bottom: 20px;
    background-color: #aac7fe;
}

.center,
img {
    text-align: center;
    align-content: center;
}

input {
    width: 85%;
    height: 30px;
    border-radius: 10px;
}

h1,
h2,
h3,
h4,
p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #23458d;
}

.btn,
button {
    color: #23458d;
    background-color: white;
    border-radius: 5px;
}

.btn-primary:hover {
    color: white;
    background-color: #23458d;
}

button:hover {
    color: white;
    background-color: #23458d;
}